.bundle
db/*.sqlite3*
log/*.log
log/*.log.lck
*.log
solr/data/*
solr/pids/*
tmp/
/tmp/
.sass-cache/
*.swp
*~
.project
.DS_Store
.redcar/*
public/uploads/*
public/assets/*
tags
gems.tags
config/database.yml
config/omniauth.yml
